footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: rgb(170, 167, 167);
}

h1 {
  text-align: center;
  color: white;
}


p {
  color: white;
}

.body_Text {
  padding: 5px;

}

.col{
  height: 300px;
}

fieldset{
  color: aliceblue;
}

legend{
  color: white;
}


#lacosete_Men_Sneakers {
  content: url('../images/Sneakers1.jpg');
  
}

#lacosete_Men_Sneakers:hover {
  content: url('../images/Sneakers1_1.jpg');
}

#Men_Tom {
  content: url('../images/Sneakers2.jpg');
}

#Men_Puma {
  content: url('../images/Sneakers3.jpg');
}

#Lace-Up_Men_Sneakers {
  content: url('../images/Sneakers4.jpg');
}
#Sneakers5{
  content: url('../images/Sneakers5.jpg');
}
#Sneakers5:hover{
  content: url('../images/Sneakers5_1.jpg');
}

#Sneakers6{
  content: url('../images/Sneakers6.jpg');
}
#Sneakers6:hover{
  content: url('../images/Sneakers6_1.jpg');
}

#Sneakers7{
  content: url('../images/Sneakers7.jpg');
}
#Sneakers7:hover{
  content: url('../images/Sneakers7_1.jpg');
}
#Sneakers8{
  content: url('../images/Sneakers8.jpg');
}
#Sneakers8:hover{
  content: url('../images/Sneakers8_1.jpg');
}

body {
  color: white;
}


.login {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding: 2%;
  width: 55%;
}

.login_img {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding: 2%;
  width: 38%;
}

.login_img > img{
  opacity: 0.5;
  border-radius: 5px;
}


.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registration {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding: 2%;
  width: 53%;
}

.registration_img {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding: 2%;
  width: 40%;
}

@media only screen and (max-width: 600px) {


  .col {
    margin: 1% 0 1% 0%;
    margin-left: 0 !important;
  }
  .login {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login_img {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .registration_img {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .registration_img>img {
    content: url("https://c4.wallpaperflare.com/wallpaper/133/973/158/air-jordan-fall-fashion-feet-wallpaper-preview.jpg");
  }

  .registration {
    float: none;
    width: 100%;
  }
}


@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }